<h1>Contact the 42towels team</h1>
	  
		
<%- form_tag do -%>

	<%= flash_error %>
	
	<%- unless logged_in? -%>
		<fieldset>
			<div class="formRow">
				<label for="name">Your name*</label>
				<%= text_field_tag(:name, @name, :class => 'input') %>
			</div>
			<div class="formRow">
				<label for="email">Your email address*</label>
				<%= text_field_tag(:email, @email, :class => 'input') %>
			</div>
		</fieldset>
	<%- end -%>
	
	<fieldset>
	  <legend>Your message</legend>
		<div class="formRow">
			<label for="subject">Subject*</label>
			<%= text_field_tag(:subject, @subject, :class => 'input') %>
		</div>
		<div class="formRow">
			<label for="body">Body*</label>
			<%= text_area_tag(:body, @body, :class => 'input') %>
		</div>				
	</fieldset>
	<%= submit_tag('Send') %>

<%- end -%>

<p>fields marked with an * are mandatory</p>
