<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de-de" lang="de-de">
<head>
  <title><%=h @page_title || 'the planning game' %> - 42towels</title>
	<meta http-equiv="content-Language" content="de" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Inlight" />
    <meta name="description" content="Inlight" />

    <meta name="language" content="de" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="publisher" content="Inlight http://42towels.com" />
    <meta name="copyright" content="Copyright in 2008 by 42towels" />
    <meta name="author" content="42towels are Thorsten Böttger and Jochen Kramer" />

    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> -->
    <link rel="home" href="http://42towels.com/" />
    <link rel="author" href="http://42towels.com/" />
    <link rel="copyright" href="http://42towels.com/" />
	
  <!-- <link rel="StyleSheet" href="/stylesheets/inlight.css" type="text/css" /> -->
  <%= stylesheet_link_tag 'yui-reset-fonts-grids' %>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag :defaults %>

  <script type="text/javascript" charset="utf-8">
    function executeOnLoad() {
      <%= yield :onload %>
    };
    window.onload = executeOnLoad;
  </script>

	<%= yield :head -%>
</head>

<body>
  <div id="doc2">
  	<div id="hd">
  	  <div>
    		<%= render :partial => 'layouts/header' %>
  		</div>
    </div>
  	<div id="bd">
      <div class="yui-g">
      	<%= yield %>
    	</div>
    </div>
  	<div id="ft">
    	<%= render :partial => 'layouts/footer' %>    
  	</div>	
  </div>
</body>
</html>
